body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;   /* จัดกึ่งกลางแนวนอน */
    align-items: center;       /* จัดกึ่งกลางแนวตั้ง */
    background: #f2f2f2;
    font-family: Arial, sans-serif;
}

button {
    width: 200px;
    padding: 15px;
    margin: 10px 0;
    border: none;
    background: #2e6b4d;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;

}

button:hover {
    background: #24543d;
}
